body {
    overflow: hidden;
    min-width: 350px;
    background-color: rgb(32, 32, 32);
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#root {
    display: flex;
    align-items: safe center;
    flex-direction: column;
    font-size: .9rem;
}

/* Mostly aesthetic styles past this point */

button:focus,
input:focus {
    color: rgba(255, 255, 255, 1);
    outline: 1px solid rgba(255, 255, 255, .75);
}

input {
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, .25);
    margin-bottom: -1px;
    background: transparent;
}

/* Remove spinner buttons from number inputs */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}